@model Book

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous">

<!-- Font Awesome CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />


<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h2><i class="fas fa-pencil-alt"></i> Update Book Quantity</h2>
                </div>

                <div class="card-body">
                    <form id="editForm" asp-controller="EditBooks" asp-action="Edit" method="post">
                        <!-- Hidden input for BookId -->
                        <input type="hidden" asp-for="BookId" />

                        <!-- Input field for Quantity with name attribute -->
                        <div class="form-group">
                            <label asp-for="Quantity" class="control-label">
                                <i class="fas fa-sort-numeric-up"></i> Quantity:
                            </label>
                            <input asp-for="Quantity" class="form-control" name="quantity" />
                            <span asp-validation-for="Quantity" class="text-danger"></span>
                        </div>

                        <!-- Submit button -->
                        <button type="submit" class="btn btn-success"><i class="fas fa-check"></i> Update Quantity</button>
                    </form>
                </div>


                <script>
                    // Get the form element
                    var form = document.getElementById('editForm');

                    // Add event listener for form submission
                    form.addEventListener('submit', function (event) {
                        // Get the quantity value from the input field
                        var quantity = document.querySelector('input[name="quantity"]').value;

                        // Get the current form action URL
                        var actionUrl = form.getAttribute('action');

                        // Append the quantity value to the action URL
                        var updatedActionUrl = actionUrl + '?bookId=' + @Model.BookId + '&newQuantity=' + quantity;

                        // Update the form action with the updated URL
                        form.setAttribute('action', updatedActionUrl);
                    });
                </script>

            </div>
        </div>
    </div>
</div>

<!-- Bootstrap JS and Popper.js (Optional) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+WyAq5kZxEK2k9qA/voLfm/cF5xJ48b5w9S" crossorigin="anonymous"></script>

